/*******************************
********** HEADER *************
*******************************/
/* general */
.navBar{
    background-color: #131910 !important;
}
/* fin general */
.navBar__contentUl{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
/* button1 */
a.navBar__button1{
    color:#ea7235 !important;
    border: 2px solid #ff5600;
    border-radius: 5px;
    padding:0.2rem 5rem;
    font-size: 1.5rem;
    max-width:12rem;
    text-align: center;
    margin-top:10px;
    margin-right:1rem;
}
a.navBar__button1:hover{
    color:black !important;
    background-color: #ea7235;
    border: 2px solid #ff5600;
}
/* fin button1 */
.navBar__blocLogoTitle{
    display:flex;
}
.navBar__logo{
    height:4rem;
}
.navBar__title{
    color:#ff5600;
    padding-left: 1rem;
    font-size: 1.7rem;
    letter-spacing: -5px;
    font-family: 'pixeloperator8';
    position:relative;
    top: 0.5rem;
}
.navBar__buttonHamburger{
    padding:0;
    margin: 0;
}
.navBar__imgHamburger{
    height:3.8rem;
}
.navBar__waves{
    width:100%;
}

/*******************************
********** FOOTER *************
*******************************/

.footerRectangle{
    padding: 6rem;
    padding-top: 0rem;
    background-color: #131910;
}