/* GENERAL */
@font-face {
  font-family: "pixeloperator";
  src: url("PixelOperator.ttf");
}
@font-face {
  font-family: "pixeloperator8";
  src: url("PixelOperator8.ttf");
}
@font-face {
  font-family: "pixeloperatorbold";
  src: url("PixelOperator-Bold.ttf");
}
body {
  font-family: "pixeloperator";
  margin: 0;
  font-size:1.3rem;
}
a {
  text-decoration: none;
}
/* CONTENT */
.card_title--modificateur {
  color: #ff5600;
  font-family: "pixeloperator8";
}

.card_text--modificateur {
  color: #ea7235;
  font-family: "pixeloperator";
}
.card-body-child {
  background-color: #131910;
  padding: 2rem;
}
.card-group{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cardVertical {
  background-color: #131911;
  padding: 2rem;
  min-width: 250px;
  margin:0.5rem;
}
.cardVertical img {
  max-width: 350px;
  width: 100%;
  margin-bottom: 3em;
}
.containerVertical {
  margin-bottom: 2rem;
}
.card-img {
  margin-left: 2rem;
}
.horizontal-card-img {
  width: 500px;
  max-width: 100%;
}
.flech{
  position: relative;
  margin-bottom: 3rem;
}
.flech__img {
  width: 100px !important;
  position:absolute;
  right:0;
}
/* PAGES ARTICLES ET CREDITS */
.content{
  color:#ea7235;
  padding:3rem;
  background-color: #131910;
  margin:4rem auto;
  max-width: 800px;
}
.content p a{
  color:#ea7235;
  font-weight: bold;
}
.content h1,.content h2,.content h3{
  color: #ff5600;
  padding-top:2rem;
}
.content p,.content ul{
  padding:2rem 0;
  margin-top:2rem;
}
.content ul{
  margin-left: 8%;
}
.content h3,.content p{
  padding-left:8%;
}
.content p.img{
  text-align:center;
  background:transparent;
  margin: 0;
  padding: 0;
  margin-top:2em;
}
.content img{
  max-width: 100%;
}
.content figure video{
  width:100% !important;
}
.content li{
  display : list-item;
  list-style-type: none;
  border-left:6px solid #ea7235;
  padding-left:5%;
  margin-bottom:0.6rem;
}