@font-face {
  font-family: "pixeloperator";
  src: url("PixelOperator.ttf");
}
@font-face {
  font-family: "pixeloperator8";
  src: url("PixelOperator8.ttf");
}
@font-face {
  font-family: "pixeloperatorbold";
  src: url("PixelOperator-Bold.ttf");
}
body {
  font-family: "pixeloperator";
  margin: 0;
}
a {
  text-decoration: none;
}

.card_title--modificateur {
  color: #ff5600;
  font-family: "pixeloperator8";
}

.card_text--modificateur {
  color: #ea7235;
  font-family: "pixeloperator";
}
.card-body-child {
  background-color: #131910;
  padding: 2rem;
}
.cardVertical {
  background-color: #131911;
  padding: 2rem;
  margin: 2rem;
  min-width: 300px;
}
.cardVertical img {
  max-width: 400px;
  margin-bottom: 3em;
}
.containerVertical {
  margin-bottom: 2rem;
}
.card-img {
  margin-left: 2rem;
}
.horizontal-card-img {
  max-width: 500px;
}
.flech{
  position: relative;
}
.flech__img {
  width: 100px;
  position:absolute;
  right:0;
}