/* RELATIF A LA PAGE TEST - INUTIL AU RESTE*/
.backdark, #backlight{
    background-color: #131910;
    padding:3rem;
    margin:1px;
}
.backlight{
    background-color: #191b18;
    border:1px solid red;
}
.backdarkspan{
    color:white;
    padding:0 1.5em;
}
/* FIN RELATIF A LA PAGE TEST - INUTIL AU RESTE*/

/* ELEMENTS (RELATIF A LA PAGE TEST) */
    /* button1 */
        a.button1{
            color:#ea7235;
            border: 2px solid #ff5600;
            border-radius: 5px;
            padding:0.2rem 1rem;
            font-size: 1.5rem;
            max-width:12rem;
            text-align: center;
        }
        a.button1:hover{
            color:black;
            background-color: #ea7235;
            border: 2px solid #ff5600;
        }
    /* fin button1 */
/* FIN ELEMENTS (RELATIF A LA PAGE TEST) */